*.w32 -crlf
*.bat -crlf

docs/* linguist-documentation

*.zep.h linguist-language=C
*.zep.c linguist-language=C

ext/clean linguist-language=sh
ext/install linguist-language=sh

ext/* linguist-vendored
build/* linguist-vendored
tests/_ci/* linguist-vendored
tests/_docker/* linguist-vendored
